@using NbSites.Areas.Web.Demo.Libs.AppServices
@using NbSites.Common.Web
@inject IFooSingleton FooSingleton1
@inject IFooSingleton FooSingleton2
@inject IFooScoped FooScoped1
@inject IFooScoped FooScoped2
@inject IFooTransient FooTransient1
@inject IFooTransient FooTransient2
@{
    ViewBag.Title = "Demo Home Index";
}
<link href="@Url.AreaContent("~/Content/css/foo.css", "Demo")" rel="stylesheet" />
<h2>@this.Path</h2>
<hr />
<h2>Lifetime Desc</h2>
<ul>
    <li>FooSingleton1 : @FooSingleton1.GetDesc()</li>
    <li>FooSingleton2 : @FooSingleton2.GetDesc()</li>
</ul>
<ul>
    <li>FooScoped1 : @FooScoped1.GetDesc()</li>
    <li>FooScoped2 : @FooScoped2.GetDesc()</li>
</ul>
<ul>
    <li>FooTransient1 : @FooTransient1.GetDesc()</li>
    <li>FooTransient2 : @FooTransient2.GetDesc()</li>
</ul>